{
  "db_driver": "sqlite3",
  "db_dsn": "./redqueen.sqlite",
  "port": "8080",
  "debug": true,
  "truncate": false,
  "serial": {
    "enabled": false,
    "device_path": "/dev/ttyS0",
    "baud_rate": 9600
  }
}
