<div class="row">
    <div class="col-xs-10">
        <pagination ng-model="page" total-items="totalItems" items-per-page="perPage" ng-change="queryLogs()" boundary-links="true" max-size="10"></pagination>
    </div>
    <div class="col-xs-2">
        <span class="small text-info">per page</span>
        <select ng-change="queryLogs()" class="form-control pull-right" ng-model="perPage" convert-to-number>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date/Time</th>
            <th>Name</th>
            <th>Code</th>
            <th>Valid Pin?</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody  ng-show="logs.length <= 0">
        <tr>
            <td colspan="5">No logs to show.</td>
        </tr>
    </tbody>
    <tbody ng-show="logs.length > 0">
        <tr ng-repeat="log in logs">
            <td>{{ log.Id }}</td>
            <td>{{ log.CreatedAt | date:'short'}}</td>
            <td></td>
            <td>{{ log.Code }}</td>
            <td>
                <span class="label label-success" ng-show="log.ValidPin">Yes</span>
                <span class="label label-danger" ng-hide="log.ValidPin">No</span>
            </td>
            <td>
                <div class="btn-group">
                </div>
            </td>
        </tr>
    </tbody>
</table>
<pagination ng-model="page" total-items="totalItems" items-per-page="perPage" ng-change="queryLogs(page)" boundary-links="true" max-size="10"></pagination>
