<div class="btn-group pull-right">
    <span ng-show="has_schedules">
          <a href="#/rfidcards/new" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New</a>
    </span>
    <span ng-show="!has_schedules">
          <button class="btn btn-primary" disabled><i class="glyphicon glyphicon-plus"></i> New</button>
    </span>
</div>

<div class="row">
    <div class="col-xs-10">
        <pagination ng-model="page" total-items="totalItems" items-per-page="perPage" ng-change="queryCards()" boundary-links="true" max-size="10"></pagination>
    </div>
    <div class="col-xs-2">
        <span class="small text-info">per page</span>
        <select ng-change="queryCards()" class="form-control pull-right" ng-model="perPage" convert-to-number>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Active?</th>
    <td>&nbsp;</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-show="(rfidCards.length) == 0">
    <td colspan="4">No RFID Cards added.</td>
  </tr>
  <tr ng-repeat="rfidCard in rfidCards">
    <td>{{ rfidCard.name }}</td>
    <td>{{ rfidCard.code }}</td>
    <td>
      <span class="label label-success" ng-show="rfidCard.is_active">Yes</span>
      <span class="label label-danger" ng-hide="rfidCard.is_active">No</span>
    </td>
    <td>
      <div class="btn-group">
        <a class="btn btn-default" ng-click="edit(rfidCard)">Edit</a>
        <!--<a class="btn btn-danger" ng-click="remove(rfidCard)">Delete</a>-->
      </div>
    </td>
  </tr>
  </tbody>
</table>
<pagination ng-model="page" total-items="totalItems" items-per-page="perPage" ng-change="queryCards(page)" boundary-links="true" max-size="10"></pagination>
