<div class="btn-group pull-right">
  <a href="#/schedules/new" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New</a>
</div>

<div class="row">
    <div class="col-xs-10">
        <pagination ng-model="page" total-items="totalItems" items-per-page="perPage" ng-change="querySchedules()" boundary-links="true" max-size="10"></pagination>
    </div>
    <div class="col-xs-2">
        <span class="small text-info">per page</span>
        <select ng-change="queryLogs()" class="form-control pull-right" ng-model="perPage" convert-to-number>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
    <th>Sun</th>
    <th>Start Time</th>
    <th>End Time</th>
    <td>&nbsp;</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-show="(schedules.length) == 0">
    <td colspan="4">No schedules added.</td>
  </tr>
  <tr ng-repeat="schedule in schedules">
    <td>{{ schedule.id }}</td>
    <td>{{ schedule.name }}</td>
    <td>
      <span class="label label-success" ng-show="schedule.mon">Yes</span>
      <span class="label label-danger" ng-hide="schedule.mon">No</span>
    </td>
    <td>
      <span class="label label-success" ng-show="schedule.tue">Yes</span>
      <span class="label label-danger" ng-hide="schedule.tue">No</span>
    </td>
    <td>
      <span class="label label-success" ng-show="schedule.wed">Yes</span>
      <span class="label label-danger" ng-hide="schedule.wed">No</span>
    </td>
    <td>
      <span class="label label-success" ng-show="schedule.thu">Yes</span>
      <span class="label label-danger" ng-hide="schedule.thu">No</span>
    </td>
    <td>
      <span class="label label-success" ng-show="schedule.fri">Yes</span>
      <span class="label label-danger" ng-hide="schedule.fri">No</span>
    </td>
    <td>
      <span class="label label-success" ng-show="schedule.sat">Yes</span>
      <span class="label label-danger" ng-hide="schedule.sat">No</span>
    </td>
    <td>
      <span class="label label-success" ng-show="schedule.sun">Yes</span>
      <span class="label label-danger" ng-hide="schedule.sun">No</span>
    </td>
    <td>{{ schedule.start_time | date: 'hh:mm:ss a' }}</td>
    <td>{{ schedule.end_time | date: 'hh:mm:ss a' }}</td>
    <td>
      <div class="btn-group">
        <a class="btn btn-default" ng-click="edit(schedule)">Edit</a>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<pagination ng-model="page" total-items="totalItems" items-per-page="perPage" ng-change="querySchedules()" boundary-links="true" max-size="10"></pagination>
